.datboi{
    background: linear-gradient(#e66465, #9198e5);
}
.postal{
    background: linear-gradient(red, orange, yellow);
}
.bluetext{
    background:linear-gradient(indigo,green);
}
body{
    display:flex;
    flex-direction: row;
    background-image:url("./images.jpg");

}
#asd{
    display:flex;
    flex-direction: column;
}